
@media (max-width: 425px) {
    .chat-container {
      flex-direction: column !important;
    }
  
    .contacts {
      display: none; 
    }
  
    .chat-container {
      width: 100%;
      border-radius: 0;
      overflow-y: auto !important;
    }
  }
  
  
  @media (max-width: 375px) {
    .chat-container {
      padding: 0.5rem;
    }
  
    .chat-container h1 {
      font-size: 1.5rem;
    }
  
    .chat-container h3 {
      font-size: 1rem;
    }
  }